body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #c5283d;
}

main {
  flex: 1 0 auto;
}

p {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

hr {
    padding: 0.5rem;
    width: 108rem;
    background-color: #ffc857;
}

label {
    margin-left: 1.5rem;
    color: black;
    
}

.question {
    padding-left: 40px;
}

.center-cols > .col {
  float: none;
  display: inline-block; 
  text-align: initial; 
}

.buttonYes {
    background-color: #255f85;
    padding-left: 5rem;
    padding-right: 5rem;
}

.buttonNo {
    background-color: #255f85;
    padding-left: 5rem;
    padding-right: 5rem;
}

.buttonNo:active {
    background-color: #fa03bc;
}

.buttonYes:active {
    background-color: rgb(14, 207, 14);
}

.buttonRes {
    background-color: #255f85;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-left: 6.5rem;
    font-weight: bold;
}

.buttonRes:active {
    background-color: #ffc857;
}

.pumpkin {
    background-color: #e9724c;
}

.darkRed {
    background-color: #481d24;
    max-width: 300px;
    min-width: 300px;
    max-height: 400px;
    min-height: 400px;
    margin-right: 20rem;
    color: white;
}

#nameTag {
    margin-left: 46rem;   
}

#pixabay {
    max-width: 100px;
    max-height: 75px;
}