@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

.neons {
   text-align: center;
   font-family: 'Codystar';
}

.neons h1 {
  font-size: 9rem;
  text-align: center;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
     from {
      color: #fff;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }

  to {
     color: gray;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #c5283d;
}

main {
  flex: 1 0 auto;
}

p {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

hr {
    padding: 0.5rem;
    width: 108rem;
    background-color: #ffc857;
}

label {
    margin-left: 1.5rem;
    color: black;

}

.question {
    padding-left: 40px;
}

.center-cols > .col {
  float: none;
  display: inline-block; 
  text-align: initial; 
}

.buttonYes {
    background-color: #255f85;
    padding-left: 5rem;
    padding-right: 5rem;
}

.buttonNo {
    background-color: #255f85;
    padding-left: 5rem;
    padding-right: 5rem;
}

.buttonRes {
    background-color: #255f85;
    padding-left: 5rem;
    padding-right: 5rem;
    font-weight: bold;
}

.buttonRes:active {
    background-color: #ffc857;
}

.pumpkin {
    background-color: #e9724c;
}

.darkRed {
    position: static;
    background-color: #481d24;
    max-width: 20rem;
    min-width: 20rem;
    max-height: 30rem;
    min-height: 30rem;
    margin-right: 20rem;
    color: white;
}

.card-image{
    height: 200px;
    overflow: hidden;
}

#nameTag {
    margin-left: 46rem;   
}

.button {
    background-color: #255f85;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  width: 100px;
}

.button1 {
  color: white;
  font-weight: bolder;
  border: 2px solid #e7e7e7;
}

.button:active,
.button:focus,
.button:visited {
  outline: none;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: none;
  padding: 15px;
  width: 50%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
} 